:host {
  display: block;
  height: 100%;
}
.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--luzmo-background-color);
  color: var(--luzmo-font-color);
  .login-content {
    margin: 20vh auto;
    width: 25rem;
  }
  .login-logo {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
  }
  .title {
    color: var(--luzmo-font-color-down);
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  .form-group {
    margin-bottom: 1rem;
    label {
      margin-bottom: 0.5rem;
      font-size: 0.8125rem;
      display: inline-block;
      text-transform: uppercase;
    }
    luzmo-text-field {
      display: block;
      width: 100%;
    }
    input {
      display: block;
      width: -webkit-fill-available;
      padding: .625rem .75rem;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.5;
      color: var(--luzmo-font-color-hover);
      background-color: transparent;
      background-clip: padding-box;
      border: 0.0625rem solid var(--luzmo-border-color);
      appearance: none;
      border-radius: .375rem;
      box-shadow: none;
      transition: all .3s ease;
      height: auto;
      margin: 0;
      &:focus {
        color: var(--luzmo-font-color-hover);
        background-color: var(--luzmo-background-color-highlight);
        border-color: var(--luzmo-primary);
        outline: 0;
      }
    }
  }
  .login-tabs {
    display: block;
    margin-top: 1.5rem;
  }
  .tab-content {
    margin-top: 1.5rem;
  }
  .form-log-in,
  .form-2fa,
  .form-key-token {
    .button-container {
      margin: 2.5rem 0;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
    }
    button {
      border-radius: 0.25rem;
      border: 0.0625rem solid transparent;
      box-shadow: 0 0 0 var(--app-shadow-color), 0 0 0 var(--app-shadow-color);
      cursor: pointer;
      display: inline-block;
      font-size: .875rem;
      font-weight: 400;
      padding: 0.5rem 2.5rem;
      position: relative;
      text-align: center;
      transition: all .3s ease;
      user-select: none;
      vertical-align: middle;
      &:disabled {
        box-shadow: none;
        cursor: not-allowed;
        opacity: .65;
        transform: translateY(0);
      }
      &.btn-primary {
        background-color: var(--luzmo-primary);
        border-color: var(--luzmo-primary);
        color: var(--luzmo-primary-inverse-color);
        &:hover {
          background-color: var(--luzmo-primary-hover);
          border-color: var(--luzmo-primary-hover);
          color: var(--luzmo-primary-inverse-color);
        }
        &:disabled {
          background-color: var(--luzmo-primary);
          border-color: var(--luzmo-primary);
          color: var(--luzmo-primary-inverse-color);
        }
      }
      &.btn-transparent {
        transform: translateY(0);
        color: var(--luzmo-font-color);
        box-shadow: none;
        background: none;
        &:hover {
          color: var(--luzmo-font-color-hover);
        }
      }
    }
    .alert {
      position: relative;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 0.0625rem solid transparent;
      border-radius: .25rem;
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
  }
}

.region-picker {
  display: block;
}

.region-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.region-icon {
  width: 1.5rem;
  height: 1.5rem;
}
