.chart-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.chart-wrapper__title {
    font-size: 1.5rem;
}

.chart-wrapper__content {
    margin-top: 20px;
}
